# Ignore compiled Python files
*.pyc

# Ignore the virtual environment directory
myenv/

# Ignore local settings
local_settings.py

# Ignore database
*.sqlite3

# Ignore static files (if managed outside Django)
/static/

# Ignore media files (if managed outside Django)
/media/

# Ignore logs
*.log

# Ignore temporary files
*.swp

# Ignore macOS system files
.DS_Store
