 /* Contact us CSS */
 * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color:  #0056b3;
    line-height: 1.5;
}
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #667eea, #764ba2);
    color: #fff;
}
/* Container */
.container {
    max-width: 1300px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.form-card{
    width:100%;
    height: 600px;
}
h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}
p {
    color: #0056b3;
}
/* Contact Info */
.contact-info {
    text-align: left;
    margin: 0 auto;
    padding: 5px;
    width:50%;
    float:left;
}
.contact-info i {
    font-size: 24px;
    margin-right: 10px;
    color: #007bff;
}
.contact-info p {
    margin-bottom: 10px;
}
/* Contact Form */
.contact-form {
    max-width: 600px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width:50%;
    float:left;
}
.form-group {
    margin-bottom: 20px;
    color: #0056b3;
}
.form-group input[type="text"],
.form-group input[type="email"],
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s ease;
}
.form-group input[type="text"]:focus,
.form-group input[type="email"]:focus,
.form-group textarea:focus {
    border-color: #007bff;
    outline: none;
}
.form-group textarea {
    resize: vertical;
    height: 150px;
}
.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}
.btn-submit {
    background-color: #0056b3;
    color: #fff;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
.btn-submit:hover {
    background-color:#ddd;
}