/* Custom CSS */
.bg-light-custom:nth-child(odd) {
    background-color:  	#E2F4C5; /* Light gray background color */
}

.bg-light-custom:nth-child(even) {
    background-color: #E2F4C5; /* Lighter gray background color */
}
/* Custom input style */
.custom-input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ced4da; /* Light border color */
    border-radius: 5px;
    transition: border-color 0.3s;
}

.custom-input:focus {
    border-color: #496989; /* Border color on focus */
}

/* Custom button style */
.custom-btn {
    background-color: #496989; /* Button background color */
    border: none;
    color: white; /* Button text color */
    padding: 10px 20px; /* Padding for button */
    font-size: 16px; /* Button font size */
    border-radius: 5px; /* Button border radius */
    cursor: pointer;
    transition: background-color 0.3s;
}

.custom-btn:hover {
    background-color: #58A399; /* Darker button background color on hover */
}
body { 
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  overflow: hidden;
  background-color: white;
  padding: 20px 10px;
  position: fixed;
  width: 100%;
}

.header a {
  float: left;
  color: #58A399;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

.header a:hover {
  color: #496989;
}
.header a.active {
  background-color: #58A399;
  color: white;
}

.header-right {
  float: right;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  
  .header-right {
    float: none;
  }
}

h3 {
  color: white;
  font-family: 'Chalkduster';
}

.logo {
  font-family: 'Chalkduster';
}

body {
  background-repeat: repeat;
  background-attachment: fixed; 
  background-size: 100% 100%;
}
