<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/aboutus.css' %}">
</head>
<body>
    <div class="container">
        <h1>About Us</h1>
        <p>Welcome to our Website! We are dedicated to providing high-quality services and products to our users.</p>
        <p>Our team consists of passionate individuals who strive for excellence in everything we do.</p>
        <p>Our mission is to create value for our customers and make a positive impact in the community.</p>
    </div>   
        <div class="image-grid">
            <img src="/static/images/Suraj 2.jpeg" alt="Suraj Alluri">
            <img src="/static/images/Niral.jpg" alt="Niral Nadisara">
            <img src="/static/images/samson 2.jpeg" alt="Samson Williams">
        </div>
   
<!--************************
   Footer Section 
  **************************-->
  <footer class="footer">
    <div class="container">
      <p>&copy; 2024 Masterchef. All rights reserved.</p>
    </div>
  </footer>
</body>
</html>
