<!DOCTYPE html>
<html lang="en">

<head>
  <!-- HEAD -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Masterchef</title>
  {% load static %}

  <!-- jquery -->
  <SCRIPT src="https://code.jquery.com/jquery-3.2.1.min.js"></SCRIPT>

  <!-- function -->
  <script type="text/javascript" src="{% static 'scripts/ingredient.js' %}"></script>

  <!-- bootstrap -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- style  -->
  <link rel="stylesheet" href="{% static 'styles/ingredient.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'styles/styles.css' %}">

</head>

<!-- **********************
       BODY
    ********************** -->     

<body>

  <!-- **********************
        NAVIGATION BAR
	 ********************** -->
  
<div class="header">
  <a href="/ingredient/home/" class="logo">Masterchef</a>
  <div class="header-right">
    <a class="active" href="/ingredient/home/">Home</a>
    <a href="/ingredient/contacts/">Contact Us</a>
    <a href="/ingredient/aboutus/">About Us</a>
    {% if user.is_authenticated %}
      <a href="/ingredient/logout/">Logout</a>
      <!-- <a href="/ingredient/recipes/saved/">Saved Recipes</a> -->
    {% else %}
      <a href="/ingredient/login/">Login</a>
      <a href="/ingredient/signup/">Signup</a>
    {% endif %}
  </div>
</div>

<!-- **********************
	 HERO IMAGE
	 ********************** -->
   <div class="fullsize-image-div" id="search-container">
    <!-- <h1 style="text-align:center; background-color: #deecdd;">Hello, I'm your chef today!</h1> -->
    <form class="form-inline" method="GET" action="{% url 'read_ingredient_by_name' %}">
        <div class="row w-100">
            <div class="col-md-10">
                <input type="text" class="form-control custom-input w-100" id="search-bar" name="q" placeholder="Eggs, Butter, Bread..." style="height: 50px; font-size: 20px;">
            </div>
            <div class="col-md-2">
                <button class="btn btn-primary custom-btn" type="submit" style="height: 50px; font-size: 20px;">Go</button>
            </div>
        </div>
    </form>
</div>



    <br/><br/>
    <script>
    var lastScrollTop = 0;
$(window).scroll(function() {
    var currentScroll = $(this).scrollTop();
    if (currentScroll > lastScrollTop) {
        // Scroll down
        $('#search-container').addClass('fade-out');
    } else {
        // Scroll up
        $('#search-container').removeClass('fade-out');
    }
    lastScrollTop = currentScroll;
});
  </script>
    <script>
        // Add click event listener to each ingredient button
        document.querySelectorAll('.ingredient-button').forEach(button => {
            button.addEventListener('click', () => {
                // Get the ingredient value from the data-attribute
                const ingredient = button.getAttribute('data-ingredient');
                // Get the search bar element
                const searchBar = document.getElementById('search-bar');
                // Append the ingredient value to the search bar
                searchBar.value += (searchBar.value ? ', ' : '') + ingredient;
            });
        });
    </script>
<!--**********************
    Social Media Stickey Bar
****************************-->

<div class="icon-bar">
  <a href="#" class="facebook"><i class="fa fa-facebook"></i></a> 
  <a href="#" class="twitter"><i class="fa fa-twitter"></i></a> 
  <a href="#" class="google"><i class="fa fa-google"></i></a> 
  <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
  <a href="#" class="youtube"><i class="fa fa-youtube"></i></a> 
</div>
     <!-- **********************
      Recipe Tiles
       ********************** -->

      <div class="row">
        {% for recipe in data %}
        <div class="col-lg-4 mb-4">
            <div class="card bg-light-custom recipe-card">
                <div class="card-body">
                    <h5 class="card-title">{{ recipe.cuisine }}</h5>
                    <p class="card-text"><b>More Ingredients Needed:</b> {{ recipe.ingredientsMoreNeded }}</p>
                    <p class="card-text"><b>Total Time (min):</b> {{ recipe.time }}</p>
                    <p class="card-text"><b>Ingredients:</b> {{ recipe.ingredients }}</p>
                    <p class="card-text"><b>Steps:</b> {{ recipe.steps }}</p>
                    <p class="card-text"><b>Description:</b> {{ recipe.description }}</p>
                    <!-- Button to save the recipe -->
                    <a href="#" id="save-recipe-btn-id" class="btn btn-primary save-recipe-btn" data-recipe-id="{{ recipe.id }}">Save Recipe</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script> -->
    <script>
      $(document).ready(function() {
          // JavaScript function to handle saving recipes
          $('.save-recipe-btn').click(function(e) {
              e.preventDefault();
              var recipeId = $(this).data('recipe-id');
              $.ajax({
                  type: 'POST',
                  url: '/ingredient/save_recipe/',  
                  data: {
                      'recipe_id': recipeId,
                      'csrfmiddlewaretoken': '{{ csrf_token }}'
                  },
                  success: function(response) {
                      alert(response.message); // Show success message
                  },
                  error: function(xhr, status, error) {
                      console.error(xhr.responseText); // Log error message
                  }
              });
          });
      });
      </script>
  <!-- **********************
      Ingredients Buttons
       ********************** -->
       <p class="ingredients-message">Here's our range of ingredients for you to pick !!!</p>
    <div class="food-categories">
      <div class="category-tiles">
        <div class="category-tile">
          <button class="category-button" data-category="Vegetables">
            <img src="/static/images/vegetables-icon.png" alt="Vegetables">
            <span>Vegetables</span>
          </button>
          <div>
            {% for ingredient in distinct_vegetables %}
                <button class="ingredient-button" data-ingredient="{{ ingredient }}">{{ ingredient }}</button>
            {% endfor %}
          </div>
        </div>
        <div class="category-tile">
          <button class="category-button" data-category="Fruits">
            <img src="/static/images/fruits-icon.png" alt="Fruits">
            <span>Fruits</span>
          </button>
          <div>
            {% for ingredient in distinct_fruits %}
                <button class="ingredient-button" data-ingredient="{{ ingredient }}">{{ ingredient }}</button>
            {% endfor %}
          </div>
        </div>
        <div class="category-tile">
          <button class="category-button" data-category="Meat">
            <img src="/static/images/proteins-icon.png" alt="Meat">
            <span>Proteins</span>
          </button>
          <div>
            {% for ingredient in distinct_proteins %}
                <button class="ingredient-button" data-ingredient="{{ ingredient }}">{{ ingredient }}</button>
            {% endfor %}
          </div>
        </div>
        <div class="category-tile">
          <button class="category-button" data-category="Grains And Flours">
            <img src="/static/images/grainsnflours-icon.png" alt="Grains And Flours">
            <span>Grains & Flours</span>
          </button>
          <div>
            {% for ingredient in distinct_grainsnflours %}
                <button class="ingredient-button" data-ingredient="{{ ingredient }}">{{ ingredient }}</button>
            {% endfor %}
          </div>
        </div>
        <div class="category-tile">
          <button class="category-button" data-category="Nuts and Seeds">
            <img src="/static/images/nutsnseeds-icon.png" alt="Nuts and Seeds">
            <span>Nuts & Seeds</span>
          </button>
          <div>
            {% for ingredient in distinct_nutsnseeds %}
                <button class="ingredient-button" data-ingredient="{{ ingredient }}">{{ ingredient }}</button>
            {% endfor %}
          </div>
        </div>
        <div class="category-tile">
          <button class="category-button" data-category="Sweeteners">
            <img src="/static/images/sweeteners-icon.png" alt="Sweeteners">
            <span>Sweeteners</span>
          </button>
          <div>
            {% for ingredient in distinct_sweeteners %}
                <button class="ingredient-button" data-ingredient="{{ ingredient }}">{{ ingredient }}</button>
            {% endfor %}
          </div>
        </div>
        <div class="category-tile">
          <button class="category-button" data-category="Dairy & Eggs">
            <img src="/static/images/dairyneggs-icon.png" alt="Dairy & Eggs">
            <span>Dairy & Eggs</span>
          </button>
          <div>
            {% for ingredient in distinct_dairy_and_egg_products %}
                <button class="ingredient-button" data-ingredient="{{ ingredient }}">{{ ingredient }}</button>
            {% endfor %}
          </div>
        </div>
        <div class="category-tile">
          <button class="category-button" data-category="Condiments & Sauces">
            <img src="/static/images/condimentsnsauces-icon.png" alt="Condiments & Sauces">
            <span>Condiments & Sauces</span>
          </button>
          <div>
            {% for ingredient in distinct_condiments_and_sauces %}
                <button class="ingredient-button" data-ingredient="{{ ingredient }}">{{ ingredient }}</button>
            {% endfor %}
          </div>
        </div>
        <div class="category-tile">
          <button class="category-button" data-category="Herbs, Spices & Seasonings">
            <img src="/static/images/herbsnseasonings-icon.png" alt="Herbs, Spices & Seasonings">
            <span>Herbs, Spices & Seasonings</span>
          </button>
          <div>
            {% for ingredient in distinct_herbs_spices_and_seasonings %}
                <button class="ingredient-button" data-ingredient="{{ ingredient }}">{{ ingredient }}</button>
            {% endfor %}
          </div>
        </div>
        <!-- Add more tiles for different categories as needed -->
      </div>
    </div>

<!--Add Ingredients to the search bar-->
<script>
    // Add click event listener to category buttons
    document.querySelectorAll('.ingredient-button').forEach(button => {
        button.addEventListener('click', () => {
            // Get the category value from the data-attribute
            const category = button.getAttribute('data-ingredient');
            // Get the search bar element
            const searchBar = document.getElementById('search-bar');
            // Append the category value to the search bar
            searchBar.value += (searchBar.value ? ', ' : '') + category;
        });
    });
</script>

      
      {% if no_recipes_message %}
      <div style="background-color: #f8d7da; color: #721c24; padding: 10px; border-radius: 5px; margin-bottom: 10px;">
          {{ no_recipes_message }}
      </div>
      {% endif %}

      
<!--************************
    Recipe Suggestions
****************************-->  
<p class="loved-recipes-message">TRY SOME OF OUR MOST LOVED RECIPES</p>

<div class="suggest-row"> 
  <div class="suggest-column">
    <div class="suggest-container">
      <img src="/static/images/recipe-suggestions/pexels-alena-shekhovtcova-6941039.jpg" style="width:100%">
      <div class="suggest-content">
        <h1>French Fries</h1>
        <p><i>Fry love is true love...</i></p>
      </div>
    </div>
    <div class="suggest-container">
      <img src="/static/images/recipe-suggestions/pexels-charlotte-may-5946966.jpg" style="width:100%">
      <div class="suggest-content">
        <h1>Fresh matcha latte</h1>
        <p><i>served on table with sweet pie</i></p>
      </div>
    </div>
    <div class="suggest-container">
      <img src="/static/images/recipe-suggestions/pexels-charlotte-may-5947109.jpg" style="width:100%">
      <div class="suggest-content">
        <h1>Glass of cold cocktail with orange</h1>
        <p><i>Sip happens!</i></p>
      </div>
    </div>
  </div>
  <div class="suggest-column">
    <div class="suggest-container">
      <img src="/static/images/recipe-suggestions/pexels-shvets-production-7525115.jpg" style="width:100%">
      <div class="suggest-content">
        <h1>Muffins</h1>
        <p><i>Start your day with a muffin delight.</i></p>
      </div>
    </div>
    <div class="suggest-container">
      <img src="/static/images/recipe-suggestions/pexels-tim-douglas-6210876.jpg" style="width:100%">
      <div class="suggest-content">
        <h1>Chicken like Never Before</h1>
        <p><i>Grilled whole chicken with vegetables and fruits in glass bowl</i></p>
      </div>
    </div>
    <div class="suggest-container">
      <img src="/static/images/recipe-suggestions/pexels-valeriya-7474254.jpg" style="width:100%">
      <div class="suggest-content">
        <h1>Doughnuts</h1>
        <p><i>Delicious chocolate doughnuts decorated with sprinkles</i></p>
      </div>
    </div>
  </div>  
  <div class="suggest-column">
    <div class="suggest-container">
      <img src="/static/images/recipe-suggestions/pexels-geraud-pfeiffer-6608619.jpg" style="width:100%">
      <div class="suggest-content">
        <h1>Vegetarian Dishes</h1>
        <p><i>White asparagus with sauce near vegetarian dishes with herbs</i></p>
      </div>
    </div>
    <div class="suggest-container">
      <img src="/static/images/recipe-suggestions/pexels-ioanamtc-4346328.jpg" style="width:100%">
      <div class="suggest-content">
        <h1>Pancakes</h1>
        <p><i>I flippin love you</i></p>
      </div>
    </div>
    <div class="suggest-container">
      <img src="/static/images/recipe-suggestions/pexels-klaus-nielsen-6287554.jpg" style="width:100%">
      <div class="suggest-content">
        <h1>Delicious Spaghetti on Plate</h1>
        <p><i>More Spaghetti Less Upsetti</i></p>
      </div>
    </div>
  </div>
</div>
<!--********************
Scroll to the Top button
************************-->
<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
<script>
  // Get the button
  let mybutton = document.getElementById("myBtn");
  
  // When the user scrolls down 20px from the top of the document, show the button
  window.onscroll = function() {scrollFunction()};
  
  function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
      mybutton.style.display = "block";
    } else {
      mybutton.style.display = "none";
    }
  }
  
  // When the user clicks on the button, scroll to the top of the document
  function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
  }
  </script>
<!--************************
   Footer Section 
  **************************-->
  <footer class="footer">
    <div class="container">
      <p>&copy; 2024 Masterchef. All rights reserved.</p>
    </div>
  </footer>
</body>

</html>